.services{
    font-family: var(--font-family);
    color: white;
    font-size: 25px;
    height: fit-content;
    width: auto;
    max-width: 100vw;
}


.title span{
    color: #02C173;
    position: relative;
}

.logo img{
    height: 100px;
    width: auto;
}
.logo{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin: 0;

}

.navbar{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 2rem;
}

.links{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin: 0;
}

.links img{
    height: 30px;
    width: 30px;
}

.discord_logo{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #02C173;
    border-radius: 5px;
    margin-right: 30px;
}

.twitter_logo{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #02C173;
    border-radius: 5px;
    margin-right: 30px;
}

.me_logo{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #02C173;
    border-radius: 5px;
    margin-right: 30px;
}


.parents {
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: repeat(1, 10vh);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }



    .bar-services{
        width: 75vw;
    }

    .grid-center{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        padding: 5rem;
    }

    .bar-cta{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        margin: 0;
        width: 50vw;
        max-width: 100vw;
        margin-left: 25vw;
        height: 15vh;
        background: linear-gradient(270deg, #19D160 0%, rgba(9, 214, 179, 0.518617) 96.91%, rgba(16, 211, 138, 0.0238445) 193.8%, rgba(16, 211, 136, 0) 193.82%);
        border-radius: 75px;
        margin-bottom: 2rem;
        /* padding-bottom: 2rem; */
    }


    .button-services{
        margin-right: 1rem;
        border-radius: 20px;
        display: block;
        width: 3rem;
        height: 3rem;
        padding: 10px;
        background-color: #000000;
    }

    .button-services a{
        text-decoration: none;
        color: white;
    }


    .button-services p{
        margin: 0;
        font-size: 15px;
    }

    .desc-cta{
        position: relative;
        width: 35vw;
        height: fit-content;
        left: -2rem;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 16px;
    }



    
@media screen and (max-width: 1300px) {
    .title{
        font-size: 20px;
    }
    .parents{
        font-size: 16px;
    }
    .desc-cta{
        font-size: 12px;
        left: 0rem;
    }
    .button-services{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
        padding: 10px;
    }
    .button-services p{
        font-size: 10px;
    }
    .logo img{
        height: 70px;
        width: auto;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .logo img{
        height: 70px;
        width: auto;
    }
    .title{
        font-size: 20px;
    }
    .parents{
        font-size: 16px;
    }
    .desc-cta{
        font-size: 12px;
        left: 0rem;
    }
    .button-services{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
        padding: 10px;
    }
    .button-services p{
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .logo img{
        height: 60px;
        width: auto;
    }
    .title{
        font-size: 12px;
    }
    .parents{
        font-size: 10px;
        font-weight: 500;
    }
    .desc-cta{
        font-size: 8px;
        width: 20vw;
        font-weight: 400;
    }
    .button-services{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
        padding: 10px;
    }
    .button-services p{
        font-size: 10px;
    }
    .links img{
        height: 15px;
        width: 15px;
    }
    .me_logo{
        width: 15px;
        height: 15px;
        line-height: 10px;
        border-radius: 2.5px;
        margin-right: 15px;
    }
    .twitter_logo{
        width: 15px;
        height: 15px;
        line-height: 10px;
        border-radius: 2.5px;
        margin-right: 15px;
    }
    .discord_logo{
        width: 15px;
        height: 15px;
        line-height: 10px;
        border-radius: 2.5px;
        margin-right: 15px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .logo img{
        height: 55px;
        width: auto;
    }
    .title{
        font-size: 10px;
    }
    .parents{
        font-size: 8px;
        font-weight: 500;
    }
    .desc-cta{
        font-size: 8px;
        width: 20vw;
        font-weight: 400;
    }
    .button-services{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
        padding: 10px;
    }
    .button-services p{
        font-size: 10px;
    }
    .links img{
        height: 15px;
        width: 15px;
    }
    .me_logo{
        width: 15px;
        height: 15px;
        line-height: 10px;
        border-radius: 2.5px;
        margin-right: 15px;
    }
    .twitter_logo{
        width: 15px;
        height: 15px;
        line-height: 10px;
        border-radius: 2.5px;
        margin-right: 15px;
    }
    .discord_logo{
        width: 15px;
        height: 15px;
        line-height: 10px;
        border-radius: 2.5px;
        margin-right: 15px;
    }
    .bar-services{
        width: 50vw;
    }
  }
  

  
  @media screen and (max-width: 300px) {
    .logo img{
        height: 40px;
        width: auto;
    }
    .title{
        font-size: 10px;
    }
    .parents{
        font-size: 6px;
        font-weight: 500;
    }
    .desc-cta{
        font-size: 6px;
        width: 20vw;
        font-weight: 400;
    }
    .button-services{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 2rem;
        margin-left: 1rem;
        padding: 5px;
    }
    .button-services p{
        font-size: 10px;
    }
    .links img{
        height: 10px;
        width: 10px;
    }
    .me_logo{
        width: 10px;
        height: 10px;
        line-height: 5px;
        border-radius: 1.25px;
        margin-right: 15px;
    }
    .twitter_logo{
        width: 10px;
        height: 10px;
        line-height: 5px;
        border-radius: 1.25px;
        margin-right: 15px;
    }
    .discord_logo{
        width: 10px;
        height: 10px;
        line-height: 5px;
        border-radius: 1.25px;
        margin-right: 15px;
        margin-left: 5px;
    }
    .bar-services{
        width: 50vw;
    }
    .bar-cta{
        width: 70vw;
        margin: 0;
        margin-right: 8vw;
        margin-left: 12vw;
    }
  }
  