@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland');
/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css"; */

body{
  margin: 0;
}
:root {
  margin: 0;
  --font-family: 'Audiowide';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
