.clients{
    font-family: var(--font-family);
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: auto;
    max-width: 100vw;
    padding: 2rem;
}


.title-client span{
    color: #02c173;
    position: relative;
}

.title-client{
    padding: 3rem;
}

.clients-container{
    height: auto;
    width: 60vw;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.cards-listing{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 400px;
    padding: 15px;
    margin: 20px;
    /*radial-gradient(circle, #19D160 0%, rgb(60, 64, 68) 51%, rgb(5, 107, 128) 100%)  */
    background:     
        radial-gradient(
            farthest-side at bottom left,
            #222222, 
            transparent
        ),
        radial-gradient(
            circle at center,
            #03E1FF, 
            transparent 200px
        ),
        radial-gradient(
            farthest-corner at top right,
            #00FFA3, 
            transparent 300px
        );
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    padding: 1rem;
    box-shadow: -1px 2px 25px var(--dark-pink);
}

.center-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cards-listing img{
    height: 180px;
    width: 180px;
    border-radius: 8px;
    border: none;
}

.card-img-top{
    width: 270px;
    height: 150px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}


.client-card{
    width: 180px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;   
}

.details-client{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.client-card span{
    color: white;
    font-size: 15px;
}

.client-card p,a{
    color: #3ad896;
    font-size: 15px;
}

.button-loadmore {
  align-items: center;
  font-family: var(--font-family);
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, turquoise 0, #02C173 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: 500;
}

.button-loadmore:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, black 0 -3px 0 inset;
  transform: translateY(-2px);
}

    
@media screen and (max-width: 1300px) {
    .title-client{
        font-size: 20px;
    }
    .clients-container{
        width: 90vw;
    }
    
}

@media screen and (max-width: 1000px) {
    .title-client{
        font-size: 20px;
    }

    .clients-container{
        width: 80vw;
    }

}

@media screen and (max-width: 700px) {
    .title-client{
        font-size: 12px;
    }
    .clients-container{
        width: 80vw;
    }

}

@media screen and (max-width: 550px) {
    .title-client{
        font-size: 10px;
    }
    .button-loadmore{
        font-size: 15px;
    }

}

@media screen and (max-width: 300px) {
    .title-client{
        font-size: 8px;
    }

    .button-loadmore{
        font-size: 15px;
    }
}

